@import bower_components/foundation/scss/normalize
@import bower_components/foundation/scss/foundation

body
  background-color: pink
  padding-top: 4em

.main-content
  +grid-row

.content-column
  +grid-column(12)

.result-list
  +block-grid(1)

  @media #{$medium-up}
    +block-grid(3)

.result
  &__title
    background-color: white
    padding-left: 0.5em
    font-weight: bold
    padding-top: 1em
  &__artist
    background-color: white
    padding-left: 0.5em
    padding-bottom: 1em
