$body-bg: pink
$primary-color: adjust-hue($body-bg, 240)
$secondary-color: adjust-hue($body-bg, 120)

@import bower_components/foundation/scss/normalize
@import bower_components/foundation/scss/foundation


body
  padding-top: 3rem

.main-content
  +grid-row

.content-column
  +grid-column(12)

.search-field
  font-size: 1.2rem !important
  height: 2.5rem !important

.search-button
  +prefix-postfix-base
  +postfix
  height: 2.5rem !important

.result-list
  +block-grid(1)

  @media #{$medium-up}
    +block-grid(3)

.result
  &__link
    color: $body-font-color
  &__title
    background-color: white
    padding-left: 0.5rem
    font-weight: bold
    padding-top: 1rem
  &__artist
    background-color: white
    padding-left: 0.5rem
    padding-bottom: 1rem
